/****** general *****/ 
.App{
  background-color: rgb(255, 247, 236);
}

.paddingTop{
  padding-top: 7vh;
}

.mainGrey{
  color:rgb(95, 95, 95);
}
.hideButtonLine{
  text-decoration: none;
}


/** header **/
.header{
  height: 15vh;
}

.headerLink{
  color:rgb(95, 95, 95);
  text-decoration: none;
}

.headerLink:hover{
  color: rgb(8, 86, 135);
  font-size: larger;
}


.logo{
  padding-left: 1vw;
  width: 12vw;
  height: 10vh;
  padding-right: 2vw;
  justify-content: left;
}

.headerTable{
  background-color: #ceffdb;
  width:100%;
  height: 13vh;
  table-layout: fixed;
  color:rgb(95, 95, 95);
}


.headerTable tr td{
  text-align:center;
  font-size: 1.5vw;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:550; 
}




.Title{
  text-align: center;
}

.alignCenter{
  text-align: center;
}

.formBody{
  background-color: rgb(199, 193, 193);
  margin-top: 5vh;
  margin-bottom: 15vh;
  padding-top: 5vh;
  padding-bottom: 16vh;
}

.searchBody{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3vh;
  background-color: rgb(199, 193, 193);
  border-radius: 25px;
  width: 30vw;
  text-align: center;
}

.searchBody input{
  background-color: rgb(199, 193, 193);
  width: 70%;
  border-width:0px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 3vh;
  border-radius: 25px;
  border:none;
  outline:none;
  position: inline;
}

.searchBody button{
  background-color: rgb(119, 115, 115);
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 30%;
  border-radius: 25px;
  border-width:0px;
  border:none;
  outline:none;
  position:inherit;
}

/** HomeMainDisplay **/

.mainDisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mainDisplay div{
  background-color:blue;
  width: 20vw;
  height: 50vh;
}
.mainDisplay div img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/** Map **/
.map-container{
  width: 100%;
  height: 100vh;
  z-index: 0 ;
}

.card:hover{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

.cancelUnderScore{
  text-decoration: none;
}

.fillSpace{
  min-height: 69.5vh;
}

.fillSpaceL{
  min-height: 77.5vh;
}

.InfoWindowStyle{
  background-color:rgb(0, 221, 255);
  width: 10vh; 
  height: 5vw;
} 


/** Loading Page **/
.loadingPageLayout{
  height: 92vh;
  align-items: center;
}
.LoadingPageContainer{
  position: absolute;
  left: 39%; top: 35%;
}

.LoadingSpinner {
    width: 20vw;
    height: 40vh;
    border: 2.5vw solid;
    border-color: #f16c18 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 3s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}