.logo{
  padding-left: 1vw;
  width: 10vw;
  height: 8vh;
  padding-right: 2vw;
  justify-content: left;
}

.navbar-nav{
  padding-top: 7vh;
}


/**footer**/

.footer{
  position: absolute;
  bottom:0;
  width: 100%;
  height: 40px;
  background-color: #222222;
  text-align: center;
}



/** header **/
.header{
  background-color:rgba(51, 185, 194, 0.651);
  height: 17vh;
  text-align: left;
  /* scrollbar-shadow-color: black; */
}

.headerTable{
  width:100%;
  height: 100%;
  table-layout: fixed;
}
.headerTableElement1{
  text-align: left;
  background-color: aliceblue;

}
/* .headerTableElement2{
  width: 50%;
  height: 100%;
  font-size: 1.5vw;
  text-align:center;
} */
.headerTableElement2 a{
  text-decoration: none;
  color: whitesmoke;
}
.headerTableElement2 nav{
  width: 100%;
}

.headerTableElement2 nav .navigationBarTable{
  width:100%;
  table-layout: fixed;
}

.nav{
  padding-top: 11vh;
  background-color: blue;
}

.loginTitle{
  text-align: center;
}

