/****** general *****/ 
.App{
  background-color: #fff7ec;
}

.paddingTop{
  padding-top: 7vh;
}

.mainGrey{
  color:rgb(95, 95, 95);
}
.hideButtonLine{
  text-decoration: none;
}

.center{
  text-align: center;
}


/** header **/
.header{
  height: 13vh;
}

#headerLink{
  color:rgb(95, 95, 95);
  text-decoration: none;
  font-size:large;
  border: none;

  background: linear-gradient(0deg, #ffdeb1, #ffdeb1) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 700ms;
  --bg-h: 100%;
}

#headerLink:where(:hover, :focus-visible){
  background-size: 100% var(--bg-h);
  background-position-x: left;
}


#headerLink:hover{
  /* color: rgb(8, 86, 135); */
  /* font-weight:bolder; */

}


.logo{
  padding-left: 1vw;
  width: 12vw;
  height: 10vh;
  padding-right: 2vw;
  justify-content: left;
}

.headerTable{
  background-color: #ceffdb;
  width:100%;
  height: 13vh;
  table-layout: fixed;
  color:#5f5f5f;
}


.headerTable tr td{
  text-align:center;
  font-size: 1.5vw;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:550; 
}




.Title{
  text-align: center;
}

.alignCenter{
  text-align: center;
}

.alignCenterMarginTop{
  text-align: center;
  margin-top: 3rem;
  
}

.formBody{
  background-color: rgb(199, 193, 193);
  margin-top: 5vh;
  margin-bottom: 15vh;
  padding-top: 5vh;
  padding-bottom: 16vh;
}

.searchBody{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3vh;
  background-color: rgb(199, 193, 193);
  border-radius: 25px;
  width: 30vw;
  text-align: center;
}

.searchBody input{
  background-color: rgb(199, 193, 193);
  width: 70%;
  border-width:0px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 3vh;
  border-radius: 25px;
  border:none;
  outline:none;
  position: inline;
}

.searchBody button{
  background-color: rgb(119, 115, 115);
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 30%;
  border-radius: 25px;
  border-width:0px;
  border:none;
  outline:none;
  position:inherit;
}

/** HomeMainDisplay **/

.mainDisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mainDisplay div{
  background-color:blue;
  width: 20vw;
  height: 50vh;
}
.mainDisplay div img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/** Map **/
.map-container{
  margin-top:2vh ;
  width: 100%;
  height: 100vh;
  z-index: 0 ;
}

.card:hover{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

.cancelUnderScore{
  text-decoration: none;
}

.fillSpace{
  min-height: 69.5vh;
}

.fillSpaceL{
  padding-top: 10vh;
  margin-left: 70vh;
  min-height: 77.5vh;
}

.InfoWindowStyle{
  background-color:rgb(0, 221, 255);
  width: 10vh; 
  height: 5vw;
} 


/** Loading Page **/
.loadingPageLayout{
  height: 92vh;
  align-items: center;
}
.LoadingPageContainer{
  position: absolute;
  left: 39%; top: 35%;
}

.LoadingSpinner {
    width: 20vw;
    height: 40vh;
    border: 2.5vw solid;
    border-color: #f16c18 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 3s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*** Manage ***/
.floatingBarPosition{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2vw 2vh;
}

.floatingBarPosition2{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5vw 2vh;
}

/** donation **/
.donateBack{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/strays2.jpg");
  background-position:top;
  background-size:cover;
  background-repeat: "no-repeat";
  height: '100%';
  width: '100%';
  padding-bottom:'0,5em';
  padding-top:'1em';
  margin-top: 2vh;
}

.mainImage{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/strays.jpg");
  background-position:top;
  background-size:cover;
}

/** upload Image Page **/

.uploadPageBackGround{
  background-color: #f6e7d4;
  margin: 5vw;
  border-radius: 50px;
}

.adImage1{
  background-image: url("./images/pc1.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:contain;


}

.adImage2{
  background-image: url("./images/pc2.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:contain;
}



